body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0D161D;
}

img{ max-width:100%; vertical-align:middle;  }
header {
    background-color: rgba(0, 0, 0, 0.5 );
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
}

nav ul li {
    display: inline;
    margin: 0 50px;
    height: 25px;
    line-height: 25px;
}

nav ul li img{
    display: inline;
    margin: -45px 50px;
}

main nav ul li img{
    display: inline;
    margin: -5px -35px;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    text-align:left;
    padding: 20px;
    color: #fff;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

 
   .maincontainer{
            border: 1px solid #000000;
            background-color: rgba(0, 0, 0, 0.5);
            width: 1020px; /* 设置框的宽度 */
            height: 4800px; /* 设置框的高度 */
            text-align: left; /* 水平居中文本 */
            margin: 0 auto;/* 水平居中框 */
            padding: 0px; /* 设置文本与框边缘的间距 */
            line-height: 35px;
            font-size: 16px;
            top: -250px;
            color: #fff;
            position: relative;
        }
        
        
        
.mainheader{
    margin: 0 auto;/* 水平居中框 */
    padding: 0px; /* 设置文本与框边缘的间距 */
    color: #fff;
    position: relative;
    font-size: 50px;
    text-align: center;
    top: -350px;
}

.maincontainer nav ul li{     margin: 0 20px; display:inline-block; height: auto;  line-height:inherit; }

.maincontainer nav ul li img{ display: block; margin:0px; }
@media all and (max-width: 1199px) {}

@media all and (max-width: 1019px) 
{
    .maincontainer{ width: 100%; height: auto; }
    
    
    nav ul li {
    display: inline;
    margin: 0 20px;
    height: 25px;
    line-height: 25px;
}
    
    .mainheader { 
    top: -250px;
        font-size: 25px !important;
}
.maincontainer  
{
     top: -150px; 
}

.l1 center{   }
  .l1 center~div{ left:50% !important; width:50%; } 
.l2 center{  } 
  .l2 center~div{ left:0% !important; width:50%;  } 
    }

@media all and (max-width: 768px) 
{
       nav { 
    padding: 10px 10px;
}
   nav ul li img {
    display: inline;
    margin: -50px 10px;
    width:120px;
}
     .mainheader { 
    top: -250px;
}

  
    .mainheader { 
    top: -150px;
        font-size: 25px !important;
}

  .l1 center~div{ left:50% !important; width:50%; top:10px !important; } 
  
  .l2 center~div{ left:0% !important; width:50%;  top:10px !important; } 
  
.maincontainer nav ul li{     margin: 0 10px; display:inline-block; height: auto;  line-height:inherit; }
    }

@media all and (max-width: 575px) 
{  
      nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:0px ;
    padding:0px; 
}
.maincontainer nav ul { 
    flex-direction: row; 
}
      
      nav ul li {
    display: block;
    margin: 0 20px;
    height: auto;
    line-height: 2;
}
 nav ul li img {
    display: inline;
    margin: 10px 10px;
    width:120px;
}
    .maincontainer {
    top: -60px;
}
.maincontainer h2{ font-size:20px; }


.box { 
    width: 98% !important;
    height: auto !important; 
    padding:1% !important;
}
.box2 { 
    width: 98% !important;
    height: auto !important; 
    padding:1% !important;
}
.mainheader {
    top: -80px;
    font-size: 25px !important;
}

.l1 center{ width:100%;    }
.l2 center{ width:100%;    }
.l1 center~div {
    left: 0% !important;
    width: 100%;
    top: 0px !important;
    position:relative !important;
}
.l2 center~div{ left:0% !important; width:100%;  top:0px !important; 
    position:relative !important;} 

.maincontainer nav ul li{     margin: 0 2px; display:inline-block; height: auto;  line-height:inherit; }
}